.center {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  margin-top: 60px;
}

@media (max-width: 600px) {
  .nav-items {
    flex-direction: column;
    display: flex;
    align-items: start;
  }
}
